.mainOfCop1{

    background-image: url("../images/cop1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;

}
.mainOfCop2{

    background-image: url("../images/cop2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;

}
.mainOfCop3{

    background-image: url("../images/cop3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;

}
.mainOfCop4{

    background-image: url("../images/cop4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;

}

.mainOfCop5{

    background-image: url("../images/cop5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;

}