<link rel="stylesheet" href="../static/css/footer.css">
<!-- Footer -->
<section id="footer">
    <div class="footer container text-center">
      <div class="brand">
        <h1><span>O</span>SAMA <span>A</span>XKOS</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
    <div class="social-icon  row ">
        <div class="social-item col-4 text-end">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item col-4 ">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
      
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <div claas="m-3">

      <p style="font-size:12px">Copyright © 2020 OAX. All rights reserved</p>

      </div>
    </div>
  </section>
  <!-- End Footer -->
  